// Default Fordson theme variables

$fpicon-width: 100px !default;
$fpiconcreate-width: 150px !default;
$fploginform: rgba(255, 255, 255, 0.9) !default;

$headerimagepadding: 275px !default;

$courseboxheight: 250px !default;

$marketing1image: #fff !default;
$marketing2image: #fff !default;
$marketing3image: #fff !default;
$marketing4image: #fff !default;
$marketing5image: #fff !default;
$marketing6image: #fff !default;
$markettextbg: rgba(255, 255, 255, 0.8) !default;
$markettile-radius: 5px !default;

$border-radius: 4px !default;

$learningcontentpadding: 400px !default;

$blockwidthfordson: 280px !default;

$drawer-bg: darken($body-bg, 5%) !default;
$footer-bg: $gray-800 !default;

$slideshowheight: 250px !default;

$activityiconsize: 36px !default;
$activityhover: #fff6ae !default;

$gutterwidth: 2rem !default;

$calendartoday: #fbffba !default;
$custommenu-bg: #fff !default;

$sectionnamehighlight : #43d0f3 !default;
$dpsaccentcolor: #44d4a6 !default;
$sectionactivitybkg: #fdfdfd !default;
$sectionbkg: $sectionactivitybkg !default;