
/**
* FORDSON CUSTOMIZATIONS FOR NEW ELEMENTS AND DEFAULT STYLING
**/

// FORDSON CustomSettings
$fpstartwrap-bg: #e8eeef !default;
$fpicon-hover: #bcd5db !default;
$fpicon-icon: darken($fpicon-hover, 10%) !default;
$fpicon-colour: #026C87 !default;
$fpicon-width: 100px !default;
$fpiconcreate-width: 150px !default;
$headerimagepadding: 275px !default;
$courseboxheight: 250px !default;
$marketing1image: #fff !default;
$marketing2image: #fff !default;
$marketing3image: #fff !default;
$marketing4image: #fff !default;
$marketing5image: #fff !default;
$marketing6image: #fff !default;
$markettextbg: rgba(255, 255, 255, 0.8) !default;
$markettile-radius: 5px !default;
$navbarurl: #FFF !default;
$card-footer-bg: #ccc !default;
$headerfade-bg: rgba(0,0,0,0.7) !default;
$header-color: #fff !default;
$headings-color: #3a3a3a !default;
$body-color: #3a3a3a !default;
$link-color: $brand-primary !default;
$breadcrumb-padding-y: 10px !default;
$breadcrumb-padding-x: 10px !default;
$border-radius: 4px !default;
$breadcrumb-bg: #fff !default;
$footer-bg: $body-bg !default;

/**
* Layout Header
**/


#page-header h1 {
font-weight:600;
color: $header-color;
}

#page-header .headerfade {
background: $headerfade-bg;
border-radius: 0px 0px $card-border-radius $card-border-radius;
}
.withimage {
    border-radius: $card-border-radius;
}

#page-navbar .dropdown-toggle {
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
    margin-left: 10px;
    background-color: $breadcrumb-bg;
    border-radius: $border-radius;
}
@media screen and (max-width: 450px) {
#page-navbar .dropdown-toggle {
    display:none;
    visibility:hidden;
}
}
@media screen and (max-width: 450px) {
#page-navbar .breadcrumb-button .btn-success {
    display:none;
    visibility:hidden;
}
}
@media screen and (max-width: 450px) {
#page-navbar .breadcrumb-button .btn-danger {
    display:none;
    visibility:hidden;
}
}

.breadcrumb-nav .breadcrumb {margin-bottom: .5rem;}

#page-navbar .open>.dropdown-menu {
    border-radius: $border-radius;
    margin-left: 5px;
}
.pagelayout-incourse #page-header .card {
    height: initial;
}

#page-header .header-position {
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 768px) {
    #page-header .header-position {
    position: initial;
    }

}
.pagelayout-incourse #page-header .header-position {
    position: initial;
    bottom: 0;
    width: 100%;
}

#page-header .card {
    background-image: url([[pix:theme|headerbg]]);
    background-position: center;
    background-size: cover;
    height:$headerimagepadding;
}
@media screen and (max-width: 768px) {
    #page-header .card {
    height: 100%;
    }

}
.pagelayout-incourse #page-header .card {
    height: initial;
}

#page-header .card-block {
    bottom: 0;
    width: 100%;
}

.pagelayout-incourse #page-header .card-block {
    position: initial;
    bottom: 0;
    width: 100%;
}

#page-header .card-block {padding: .5rem .5rem; margin-bottom:0px}
#page-header .card {margin-bottom:0px}

.thiscourse {float:left;}


/* Enhanced Homepage */

.fpstartwrap {
    margin:0px;
    border-radius: 5px;
}
.fpstart {
    display: inline-block;
    border-radius: 2px;
    padding: 15px;
    text-align: left;
    background-color:$fpstartwrap-bg;
    width:100%;
}
.fpstart .iconset {
  float:left;
  display:block;
}

.fpicon {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: $fpicon-width;
    text-align: center;
    vertical-align: top;
    background-color: $fpicon-icon;
    border-radius: 5px;
}
.fpiconcreate {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: $fpiconcreate-width;
    text-align: center;
    vertical-align: top;
    background-color: $brand-success;
    border-radius: 5px;
}
.fpicon a {color: $fpicon-colour;}
.fpiconcreate a {color: $fpicon-colour;}
.fpicon:hover {
    background-color: $fpicon-hover;
    padding: 5px;
    border-radius: 5px;
}
.fpiconcreate:hover {
    background-color: $brand-danger;
    padding: 5px;
    border-radius: 5px;
}

.fptextbox {
    text-align: left;
    padding: $spacer;
}

.fpsearch {
    text-align: center;
    padding: $spacer;
}
.fpsearch .form-control:focus {
    background-color: #fff;
}
.fpsearch .form-control {
    background-color: $fpicon-hover;
}

div#fpslider {
    background-color: $fpstartwrap-bg;
    padding: $spacer;
    border-radius: $border-radius;
    border: 1px solid $gray-lighter;
}

.alertbox {
    text-align:center;
}
.alertmessage {
    display:inline-block;
    background-color: $brand-warning;
    border-radius:5px;
    padding: 15px;
    margin: 20px;
}
.alertmessage p{
    margin-top: initial;
    margin-bottom: initial;
}

.market-tile {
    margin: 1rem;
    background-color: $body-bg;
    padding: 1rem;
    border: 1px solid $gray-base;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
/*
.markettiles .col-md-4 {
    padding: 0;
    margin: 0;
}
*/
.marketcontent {
    padding:1rem; 
    background-color: $markettextbg;
    height: 10rem;
    overflow:auto;
    margin-bottom: 1rem;
}
.marketcontent::-webkit-scrollbar {
    width: 7px;
}
.marketcontent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
    border-radius: 5%;
}
.marketcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/**
* Available Courses
**/

.class-box-fp {
    height: $courseboxheight;
    margin: 1rem;
    background-color: $body-bg;
    padding: 1rem;
    border: 1px solid $body-bg;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.class-box-fp .course-title h4 a:hover {text-decoration: none;}

.class-box-fp .course-title {
    background-color: $card-bg;
    padding: $spacer;
    margin-bottom: 0;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.class-box-fp .course-title:after {
    text-decoration: none;
    display:block;
    content: '';
    border-bottom: solid 1rem $brand-primary;   
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.class-box-fp .course-title:hover:after  {transform: scaleX(1); }

.class-box {
    margin-bottom: 2rem;
    border: 1px solid $card-bg;
    border-radius: $card-border-radius;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    padding: 1rem;
}

.class-box .course-title h4 a:hover {text-decoration: none;}

.class-box .course-title {
    padding-top: $spacer;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.class-box .course-title:after {
    text-decoration: none;
    display:block;
    content: '';
    border-bottom: solid 1rem $brand-primary;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.class-box .course-title:hover:after {transform: scaleX(1); }

.course-image-view {padding-top:10rem;}
.dash-course-image-view {padding-top:5rem;}

.class-box .course-summary {
    padding:1rem;
    max-height: 7rem;
    overflow:auto;
    margin-bottom: 1rem;
}
.class-box .course-summary::-webkit-scrollbar {
    width: 7px;
}
.class-box .course-summary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
    border-radius: 5%;
}
.class-box .course-summary::-webkit-scrollbar-thumb {
    background-color: darken($brand-primary, 15%);
    outline: 1px solid slategrey;
}

.tooltip-inner {
    max-width: 350px;
    font-size:14px;
}

.course_category_tree {
    padding: 1rem;
}

.cat-icon {
    margin:5px;
}

.category.box-class {
    padding-bottom: $spacer;
    text-align: center;
}

.category.box-class:nth-child(5) { 
    clear:both;
}

.info-enhanced {
    background-color: $body-bg;
    display: inline-block;
    padding: $spacer;
    border-radius: $border-radius;
}

.circle-count {
    float: right;
    padding-left:3px;
}


/** 
* TIDY UP 
**/
#page-badges-mybadges .fpwonderbox {display:none;}
#page-badges-mybadges .markettiles {display:none;}
#page-user-files .fpwonderbox {display:none;}

.socials_wrapper {
    margin:0 auto;
    .socials {
        text-align:center;
        margin-bottom:0;
    }
}
.single-section h3.sectionname {
    text-align: initial;
}
.pagelayout-incourse #page-navbar .dropdown-toggle {
    display: none;
}
#region-main .block-region .card {
    box-shadow: initial;
    -webkit-box-shadow: initial;
    border: 0;
}

//fixes alignment where group icons appear over edit menu
.action-menu .menubar .dropdown {
    float: left;
}
.course-content ul.topics li.section .left {
    padding-top: initial;
}