<div class="fpwonderbox">

{{#hasfpiconnav}}
<div class="fpstartwrap">
<div class="fpstart">
    <div class="iconset">

        {{#fpiconnav}}
            {{#hasicon}}
            <div class="fpicon">
                <a href = {{{link}}} title = "{{{link}}}" alt="{{{link}}}" id="button">
                    <div class="navicon" align="center">
                        <i class="fa fa-3x fa-{{{linkicon}}}"></i>
                    </div>
                    {{{linktext}}}
                </a>
            </div>
            {{/hasicon}}
        {{/fpiconnav}}

        {{#fpslideicon}}
            {{#hasicon}}
                <div class="fpicon">
                    <a role="button" data-toggle="collapse" href="#fpslider" aria-expanded="false" aria-controls="fpslider">
                        <div class="navicon" align="center">
                            <i class="fa fa-3x fa-{{{linkicon}}}"></i>
                        </div>
                        {{{linktext}}}
                    </a>
                </div>
            {{/hasicon}}
        {{/fpslideicon}}

        {{#fpcreateicon}}
            {{#hasicon}}
                <div class="fpiconcreate">
                    <a href = {{{link}}} title = "{{{link}}}" alt="{{{link}}}" id="button">
                        <div class="navicon" align="center">
                            <i class="fa fa-3x fa-{{{linkicon}}}"></i>
                        </div>
                        {{{linktext}}}
                    </a>
                </div>
            {{/hasicon}}
        {{/fpcreateicon}}
        
    </div>
</div>
</div>
{{#hasslidetextbox}}
    <div class="collapse" id="fpslider">
        {{{slidetextbox}}}
    </div>
{{/hasslidetextbox}}
<div style="clear:both;"></div>
{{/hasfpiconnav}}



{{#hasalert}}
    <div class="alertbox">
        <div class="alertmessage">
        {{{alertbox}}}
        </div>
    </div>
    <div style="clear:both;"></div>
{{/hasalert}}

<div class="fpsearch">
{{>theme_fordson/FPcourse_search_form}}
</div>

{{#hasfptextbox}}
<hr>
    <div class="fptextbox">
        {{{fptextbox}}}
    </div>
    <div style="clear:both;"></div>
<hr>
{{/hasfptextbox}}

{{#hasfptextboxlogout}}
    <div class="fptextbox">
        {{{fptextboxlogout}}}
    </div>
    <div style="clear:both;"></div>
{{/hasfptextboxlogout}}

{{#hasmarkettiles}}
<div class="markettiles">
    <div class="container-fluid">
    <div class="row">

        {{#markettiles}}
        {{#hastile}}

        <div class="col-md-4">
        <div class="market-tile"> 
            <h3 class="card-title">{{{title}}}</h3>
            <div class="marketcontent {{{tileimage}}}">
            <p>{{{content}}}<p>
            </div>
            {{{button}}}  
        </div>
        </div>

        {{/hastile}}
        {{/markettiles}}

    </div>
    </div>
</div>
<div style="clear:both;"></div>
{{/hasmarkettiles}}
</div>