{{#showincourseonly}}

<div id="coursecontrols">
    {{#haseditcog}}<div class="editcogbutton">{{{editcog}}}</div>{{/haseditcog}}
    {{#haspermission}}<div class="teacherdashbutton"><a role="button" data-toggle="collapse" href="#teacherdashslider" aria-expanded="false" aria-controls="teacherdashslider">{{{togglebutton}}}</a></div> {{/haspermission}}
    {{#haspermission}}{{#dashlinks}}{{#haseasyenrollment}}<div class="enrollcodebutton"><a href="{{{url}}}">{{{title}}}</a></div>{{/haseasyenrollment}}{{/dashlinks}}{{/haspermission}}
    <div class="thiscoursebutton">{{{thiscourse}}}</div>
</div>

<div style="clear:both;"></div>

{{#haspermission}}
<div class="collapse" id="teacherdashslider">
<div class="teacherdashboard">

    <div class="container-fluid">
    <div class="coursemanagementmessage">{{{coursemanagementmessage}}}</div>
    <div class="row">

        <div class="col-md-3 badges">
        <div class="dashtitle">
        <i class="fa fa-2x fa-trophy dashicon"></i>
            <h3>{{{badgestitle}}}</h3>
            <p>{{{badgesdesc}}}</p>
        </div>
        <div class="list-group">
            {{#dashlinks}}
            {{#hasbadgelinks}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/hasbadgelinks}}
            {{/dashlinks}}
        </div>
        </div>

        <div class="col-md-3 questionlinks">
        <div class="dashtitle">
        <i class="fa fa-2x fa-question-circle dashicon"></i>
                <h3>{{{qbanktitle}}}</h3>
                <p>{{{qbankdesc}}}</p>
        </div>
        <div class="list-group">
            {{#dashlinks}}
            {{#hasqbanklinks}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/hasqbanklinks}}
            {{/dashlinks}}
        </div>
        </div>

        <div class="col-md-3 coursemanagelinks">
        <div class="dashtitle">
        <i class="fa fa-2x fa-cogs dashicon"></i>
                <h3>{{{coursemanagetitle}}}</h3>
                <p>{{{coursemanagedesc}}}</p>
        </div>
        <div class="list-group">
            {{#dashlinks}}
            {{#hascoursemanagelinks}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/hascoursemanagelinks}}
            {{/dashlinks}}
        </div>
        </div>

        <div class="col-md-3 userlinks">
        <div class="dashtitle">
        <i class="fa fa-2x fa-users dashicon"></i>
                <h3>{{{userlinkstitle}}}</h3>
                <p>{{{userlinksdesc}}}</p>
        </div>
        <div class="list-group">
            {{#haspermission}}
            {{#dashlinks}}
            {{#haseasyenrollment}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/haseasyenrollment}}
            {{/dashlinks}}
            {{/haspermission}}
            {{#dashlinks}}
            {{#hasuserlinks}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/hasuserlinks}}
            {{/dashlinks}}
        </div>
        </div>

    </div>
    </div>

</div>
</div>

{{/haspermission}}

<div style="clear:both;"></div>

{{/showincourseonly}}