// Bootstrap variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;

$gray-base: #ccc !default;

$black:    #000 !default;

$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       #444e58 !default;
$secondary:     $gray-900 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Options
$enable-rounded: false !default;

// Body
$body-color:    $gray-800 !default;
$body-bg:       #EBF4F8 !default;
$drawer-bg:     $gray-100 !default;
$card-bg:       $white !default;
$footer-bg:     $gray-600 !default;
$spectrum-base: #3fcbda !default;
$sectionnamehighlight : $spectrum-base;

// Fonts
$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-hover-color:          rgba($black, 1) !default;
$navbarurl : #fff !default;

// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

$breadcrumb-bg: $primary !default;
$breadcrumb-bg-hover: darken($primary, 15%) !default;
$breadcrumb-text-color: #ffffff !default;

// List group

$list-group-bg:                     $gray-200;
$list-group-border-color:           transparent;

$list-group-hover-bg:               $spectrum-base;
$list-group-active-color:           $dark;
$list-group-active-bg:              $list-group-hover-bg;
$list-group-action-color:           $dark;

$list-group-disabled-color:         lighten($list-group-bg, 30%);
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $list-group-hover-bg !default;
$list-group-action-hover-color:     $list-group-action-color !default;

$list-group-action-active-color:    $list-group-bg !default;
$list-group-action-active-bg:       $list-group-hover-bg !default;

// Alerts
$alert-border-width:                0 !default;

$theme-colors: (
    primary: $primary,
    secondary: $gray-200,
    success: $success,
    info: $info,
    warning: $orange,
    danger: $danger,
    light: $gray-100,
    dark: $gray-800
);


// Import FontAwesome.
@import "../../boost/scss/fontawesome";

// Import All of Bootstrap
@import "../../boost/scss/bootstrap";

// Import Core moodle CSS
@import "../../boost/scss/moodle";


// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .08);
}

.filemanager-container,
.filepicker-filelist {
    @extend .border;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Navdrawer pull right
[data-region="drawer"] {
    padding: 20px 0 20px 20px;
}

// Content area bkg and preset uniques

div#learningcontent {
    background-color: $white!important;
    position: relative;
    border: 0 !important;
    box-shadow: 2px 2px 16px 5px rgba(0,0,0,.3)!important;
}
.withimage , .default {
    background-color: rgba($white, 0.9);
    background-blend-mode: luminosity;
}
.course-content ul.topics li.section, .course-content ul.weeks li.section {
    padding-top: 0;
    padding-bottom: 1rem;
}

div#blockslider {
    background-color: $gray-200 !important;
    padding: 1rem;
}

.page-context-header .page-header-headings, .page-context-header .header-button-group {
    color: $spectrum-base;
}

.course-content .current::before {
    border-left: 0;
}

.teacherdashboard .list-group-item:hover, .teacherdashboard  .list-group-item:focus {
    z-index: 1;
    text-decoration: underline;
    background-color: $spectrum-base;
}

div#myoverview_timeline_courses .list-group-item {
    background-color: $card-bg;
    border: 1px solid $gray-400;
}


// Remove extra padding at top of page

#page-header .pb-3 {
    padding-bottom: 0 !important;
}
#page-header .card-body {
    padding-bottom: 0;
}
.course-content li#section-0 .content {
    margin-top: 0;
}
.editing .course-content li#section-0 .content {
    margin-top: 2rem; 
}

.fp-blocks {
    padding-top: 2rem;
}